  <div class="dashboard-container">
    <div class="sidenav">
      <button mat-raised-button color="primary" [routerLink]="['/faculty/view-assigned-courses']">View Assigned Courses</button>
      <button mat-raised-button color="primary" [routerLink]="['/faculty/add-question']">Add Questions</button>
      <button mat-raised-button color="primary" [routerLink]="['/faculty/validate-answers']">Validate Answers</button>
      <button mat-raised-button color="primary" [routerLink]="['/faculty/view-questions']">View Questions</button>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    </div>
  
  


  
  
  