<div class="dashboard-container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Welcome, {{ studentName }}!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="registerCourse()">Register for Course</button>
        <button mat-raised-button color="primary" (click)="attemptExam()">Attempt Exam</button>
        <button mat-raised-button color="primary" (click)="viewResults()">View Results</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="content" style="align-items: center;">
  <router-outlet></router-outlet>
</div>
