<h2>Faculty Details</h2>

<div class="faculty-grid">
  <div class="faculty-card" *ngFor="let faculty of paginatedList">
    <img [src]="faculty.photo || '/assets/images/back1.jpg'" alt="{{ faculty.name }}" class="faculty-photo">
    <div class="faculty-details">
      <h3>{{ faculty.name }}</h3>
      <p>Email: {{ faculty.email }}</p>
      <p>Employee ID: {{ faculty.user_id || 'Not Available' }}</p>
      <div class="faculty-icons">
        <a [href]="'mailto:' + faculty.email" class="icon">
          <i class="fas fa-envelope"></i>
        </a>
        <a [href]="'tel:' + faculty.mobile" *ngIf="faculty.mobile" class="icon">
          <i class="fas fa-phone"></i>
        </a>
        <a [href]="faculty.linkedin" target="_blank" *ngIf="faculty.linkedin" class="icon">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{currentPage}} of {{totalPages}}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
