<div class="validate-answers-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Validate Student Answers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="answers.length > 0">
        <mat-table [dataSource]="answers">
          <ng-container matColumnDef="studentName">
            <mat-header-cell *matHeaderCellDef> Student Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.student_name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="questionText">
            <mat-header-cell *matHeaderCellDef>Question</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.question_text}} </mat-cell>
          </ng-container>

          
          <ng-container matColumnDef="answerText">
            <mat-header-cell *matHeaderCellDef> Answer Text </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.answer_text}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="validationStatus">
            <mat-header-cell *matHeaderCellDef> Validation Status </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-select [(ngModel)]="element.validation_status" (selectionChange)="onValidate(element)">
                <mat-option [value]="true">Validated</mat-option>
                <mat-option [value]="false">Not Validated</mat-option>
              </mat-select>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <div *ngIf="answers.length === 0">
        <p>No answers available for validation.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
