@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container{
    margin: 10px 10px;
}


.error-snackbar {
    background-color: #f44336;
    color: white;
  }
  
  button {
    margin-top: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .assign-course-form, .add-faculty-form, .add-course-form {
      padding: 10px;
    }
  }  