<div class="add-faculty-form">
  <h2>Add Faculty</h2>
  <form [formGroup]="facultyForm" (ngSubmit)="addFaculty()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="facultyForm.controls['name'].hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
      <mat-error *ngIf="facultyForm.controls['email'].hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="facultyForm.controls['email'].hasError('email')">
        Invalid email format
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="facultyForm.controls['password'].hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="facultyForm.controls['password'].hasError('minlength')">
        Password must be at least 8 characters long
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!facultyForm.valid">Add Faculty</button>
  </form>
</div>
