<h2>Assign Course to Faculty</h2>
<form [formGroup]="assignCourseForm" (ngSubmit)="assignCourse()">
  <label for="courseId">Course:</label>
  <select id="courseId" formControlName="courseId">
    <option *ngFor="let course of coursesList" [value]="course.id">
      {{ course.title }}
    </option>
  </select>

  <label for="facultyId">Faculty:</label>
  <select id="facultyId" formControlName="facultyId">
    <option *ngFor="let faculty of facultyList" [value]="faculty.user_id">
      {{ faculty.name }}
    </option>
  </select>

  <button type="submit" [disabled]="assignCourseForm.invalid">Assign Course</button>
</form>
