<div class="login-container">
  <div class="login-left">
    <h2>Sign Up! 👋</h2>
    <p>Fill in the form to create an account.</p>
    <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" placeholder="Ex. Vijay">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" placeholder="abc@gmail.com">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" placeholder="password">
      <input type="hidden" formControlName="role" />
      <button type="submit" class="btn btn-signin" [disabled]="!signupForm.valid">Sign Up</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    <p>Already have an account? <a routerLink="/login">Log In</a></p>
  </div>
</div>
