<mat-toolbar color="white" style="background-image :url(/frontend/mentorApp/src/assets/images/back1.jpg);">
  <span>
    <a routerLink="/">
      <span>MentorApp</span>
    </a>
  </span>
  <span>
    <a *ngIf="isAuthenticated && userRole === 'Admin'" routerLinkActive="active-link" routerLink="/admin">
      <span>Admin</span>
    </a>
    <a *ngIf="isAuthenticated && userRole === 'Faculty'" routerLinkActive="active-link" routerLink="/faculty">
      <span>Faculty</span>
    </a>
    <a *ngIf="isAuthenticated && userRole === 'Student'" routerLinkActive="active-link" routerLink="/student">
      <span>Student</span>
    </a>
    <!-- <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/login">
      <span>Login</span> -->
    <!-- </a> -->
    <a *ngIf="isAuthenticated" (click)="logout()" routerLinkActive="active-link" routerLink="/login">
      <span>Logout</span>
    </a>
    <!-- <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/signup">
      <span>Signup</span> -->
    <!-- </a> -->
  </span>
</mat-toolbar>
